<!DOCTYPE html>
<html>
<head>
    <title>Libros</title>
</head>
<body>
    <h1>Listado de Libros</h1>

    <h2>Buscar Libro</h2>
    <form action="/buscar" method="POST">
        <input type="text" name="criterio" placeholder="Buscar por título o autor" required>
        <button type="submit">Buscar</button>
    </form>

    <ul>
      {{range .}}
        <li>{{.Titulo}} - {{.Autor}} ({{.Genero}})</li>
      {{end}}
    </ul>

    <a href="/libros/agregar">Agregar nuevo libro</a>
</body>
</html>
